@import "./reset.css" layer reset;
@import "tailwindcss";

@theme {
  --color-background: #202020;
  --color-background-secondary: #272727;
  --color-background-hover: rgba(255, 255, 255, 0.05);
  --color-background-active: rgba(255, 255, 255, 0.1);
  --color-foreground: #ffffff;
}

:root {
  /* macOS */
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Text",
    "SF Pro Display",
    /* Windows */
    "Segoe UI",
    "Yu Gothic UI",
    "Meiryo UI",
    /* Linux (GNOME/KDE) */
    "Ubuntu",
    "Cantarell",
    "Noto Sans",
    "Noto Sans CJK JP",
    /* Fallback */
    system-ui,
    -apple-system-body,
    sans-serif;

  font-size: 14px;
  font-weight: 400;
  user-select: none;
  -webkit-user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-radius: 4px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*[data-tauri-drag-region] {
  app-region: drag;
}
