@import "./reset.css" layer reset;
@import "tailwindcss";

@theme {
  --color-background: #202020;
  --color-foreground: #ffffff;
}

:root {
  /* macOS */
  font-family:
    -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    /* Windows */
    "Yu Gothic UI",
    "Yu Gothic", "Meiryo",
    /* Linux (GNOME/KDE) */
    "Noto Sans CJK JP",
    "Noto Sans JP",
    /* Fallback */
    system-ui,
    sans-serif;

  font-size: 14px;
  font-weight: 400;
  user-select: none;
  -webkit-user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-radius: 4px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*[data-tauri-drag-region] {
  app-region: drag;
}
